@model CadastroDeHorariosViewModel
@{
    ViewData["Title"] = "Cadastro de Horários";
}

<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" style="font-weight:700;color:#6c757d!important">SISAT - Sistema de Atendimento</a>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link">
            <div class="text-center d-flex justify-content-center">
                <img src="/Imagens/logoW2e2.png" alt="W2E Soluções Logo" class="brand-image" style="width:90px">
            </div>
        </a>
        <div class="sidebar">
            <div class="form-inline mt-2">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item @(ViewBag.MenuAtivo == "Inicio" ? "menu-open" : "")">
                        <a class="nav-link @(ViewBag.MenuAtivo == "Inicio" ? "active" : "")">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Início
                            </p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.MenuAtivo == "Plantao" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewBag.MenuAtivo == "Plantao" ? "active" : "")">
                            <i class="nav-icon fas fa-pencil-alt"></i>
                            <p>
                                Horários
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item @(ViewBag.ActivePage == "" ? "active"  : "")">
                                <a class="nav-link @(ViewBag.ActivePage == "" ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Controle de Plantões</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Dias Disponíveis:</h3>
                            </div>
                            <form asp-action="CadastroDeHorarios" asp-controller="AgendamentoHorarios">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="col-sm-4" style="padding-left:0">
                                            <div class="form-group">
                                                <label>Serviços:</label>
                                                @Html.DropDownListFor(
                                                         model => model.id,
                                                         (SelectList)ViewBag.Servicos,
                                                         "Selecione um Serviço",
                                                         new
                                                         {
                                                             @class = "form-control" + (ViewData.ModelState["id"]?.Errors.Count() > 0 ? " is-invalid" : ""),
                                                             id = "id"
                                                         }
                                                         )
                                                @Html.ValidationMessageFor(x => x.id, "Selecionar o serviço é obrigatório.", new { @class = "invalid-feedback" })
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <div class="col-sm-4" style="padding-left:0">
                                                <div class="form-group">
                                                    <label>Data:</label>
                                                    <div class="input-group date" id="DataHoraInicial" data-target-input="nearest">
                                                        <input type="text" asp-for="DataCadastrada" class="form-control datetimepicker-input @(ViewData.ModelState["DataCadastrada"]?.Errors.Count() > 0 ? "is-invalid" : "")" data-target="#DataHoraInicial" placeholder="Data do serviço." />
                                                        <div class="input-group-append" data-target="#DataHoraInicial" data-toggle="datetimepicker">
                                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                        </div>
                                                        @Html.ValidationMessageFor(x => x.DataCadastrada, "É obrigatório escolher a data para cadastro de horário.", new { @class = "invalid-feedback" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding-left:0">
                                            <div class="card bg-gradient-info">
                                                <div class="card-header border-0">
                                                    <h3 class="card-title">
                                                        <i class="far fa-calendar-alt"></i>
                                                        Datas
                                                    </h3>
                                                    <div class="card-tools">
                                                        <button type="button" class="btn btn-info btn-sm" data-card-widget="collapse">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-info btn-sm" data-card-widget="remove">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="card-body pt-0">
                                                    <div id="calendar" style="width: 100%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" style="padding-left:0">
                                            <div class="card bg-gradient-info" id="horarios-container" style="display: none;">
                                                <table class="table table-bordered" id="horarios-table" style="margin-bottom:0;">
                                                    <thead>
                                                        <tr>
                                                            <!-- Centraliza o título "Horários" na tabela -->
                                                            <th colspan="5" class="text-center">Horários</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- Horários vão aqui, com a quebra de linha a cada 5 itens -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <input type="hidden" id="horariosChecked" name="horariosChecked" />
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" id="salvar" class="btn btn-outline-success">Salvar</button>
                                    <a role="button" class="btn btn-default" asp-action="Index" asp-controller="AgendamentoHorarios">Voltar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <strong>&copy; @DateTime.Now.Year - W2E Soluções</strong>
    </footer>
</div>

@section Scripts {
    @{
        var toastrMessage = TempData["Error"] as string;
        var toastrMessageSuccess = TempData["Sucesso"] as string;
    }

    @if (!string.IsNullOrEmpty(toastrMessage))
    {
        <script>
            toastr.error('@toastrMessage', 'Erro', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(toastrMessageSuccess))
    {
        <script>
            toastr.success('@toastrMessageSuccess', 'Sucesso.', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    <script type="text/javascript">
        $(function () {
            $('#calendar').datetimepicker({
                inline: true,
                locale: 'pt-br',
                format: 'L',
                icons: {
                    time: 'far fa-clock',
                    date: 'far fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down'
                },
                tooltips: {
                    today: 'Hoje',
                    clear: 'Limpar',
                    close: 'Fechar',
                    selectMonth: 'Selecionar Mês',
                    selectYear: 'Selecionar Ano',
                    selectTime: 'Selecione a Hora',
                    incrementHour: 'Incrementar Hora',
                    decrementHour:'Decrementar Hora',
                    incrementMinute: 'Incrementar Minuto',
                    decrementMinute:'Decrementar  Minuto',
                    selectDate: 'Selecionar a Data'
                },
                toolbarplacement: 'bottom',
                minDate: moment()
            });

            $('#calendar').on('change.datetimepicker', function (e) {
                var selectedDate = e.date.format('L');
                var data = $('#DataHoraInicial input').val(selectedDate);
                var id = $("#id").val();
                if (id && data) {
                    $.ajax({
                    url: '@Url.Action("Horarios", "AgendamentoHorarios", new { id = "__id__" })'.replace('__id__', id) + '?data=' + selectedDate,
                    type: 'GET',
                    success: function (response) {
                        if (response.success) {
                            console.log(response);
                            toastr.success('Horários carregados com sucesso!', 'Sucesso.', { closeButton: true, progressBar: true });
                            var tableBody = $("#horarios-table tbody");
                            tableBody.empty();
                            if (response.horarios && response.horarios.length > 0) {
                                const formatador = new Intl.DateTimeFormat('pt-BR', {
                                    day: "2-digit",
                                    month: "2-digit",
                                    year: "numeric"
                                });

                                let rowHtml = '';
                                let count = 0;
                                let tableBody = $('#horarios-table tbody');
                                tableBody.empty();

                                response.horarios.forEach(function (horario, index) {
                                    if (count % 5 === 0) {
                                        if (count > 0) {
                                            rowHtml += "</tr>";
                                        }
                                        rowHtml += "<tr>";
                                    }

                                    if (horario.disponivel == true) {

                                    
                                        rowHtml += "<td><div class='form-check-inline'>" +
                                                    "<input id='diaChecked" + horario.id + "' type='checkbox' class='horario-checkbox form-check-input' value='" + horario.id + "' data-hora='" + horario.hora + "' />" +
                                                    "<label class='form-check-label'>" + horario.hora + "</label>" +
                                                    "</div></td>";
                                    } else{
                                        rowHtml += "<td><div class='form-check-inline'>" +
                                                    "<input id='diaChecked" + horario.id + "' type='checkbox' checked disabled class='horario-checkbox form-check-input' value='" + horario.id + "' data-hora='" + horario.hora + "' />" +
                                                    "<label class='form-check-label'>" + horario.hora + "</label>" +
                                                    "</div></td>";
                                    }

                                    count++;
                                    if (index === response.horarios.length - 1) {
                                        rowHtml += "</tr>";
                                    }
                                });

                                tableBody.html(rowHtml);

                                $("#horarios-container").show();
                            } else {
                                toastr.warning('Nenhum horário disponível para este serviço.', 'Aviso', { closeButton: true, progressBar: true });
                                $("#horarios-container").hide();
                            }
                        } else {
                            toastr.error('Nenhum horário disponível para este serviço.', 'Erro.', { closeButton: true, progressBar: true });
                        }
                    },
                    error: function () {
                        toastr.error('Erro ao carregar os horários.', 'Erro.', { closeButton: true, progressBar: true });
                    }
                    });

                } else {
                    toastr.info("É necessários selecionar um serviço e uma data para selecionar os horários disponíneis.", "Informação", { closeButton: true, progressBar: true });
                }
                if ($('#DataHoraInicial input').hasClass('is-invalid')) {
                    $('#DataHoraInicial input').removeClass('is-invalid');
                }
            });

            $('#horarios-table input[type="checkbox"]').on('change', function() {
                var checkedHorarios = [];

                $('#horarios-table input[type="checkbox"]:checked').each(function() {
                    checkedHorarios.push($(this).data('hora'));
                });

                $('#horariosChecked').val(checkedHorarios.join(','));

            });
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#salvar').on('click', function() {
                var horarios = [];

                $('#horarios-table .horario-checkbox:checked').each(function() {
                    var hora = $(this).data('hora');
                    var id = $(this).val();
                    horarios.push({
                        id: id,
                        hora: hora
                    });
                });

                document.getElementById("horariosChecked").value = JSON.stringify(horarios);
            });

            $('#id').on('change', function () {
                if ($(this).hasClass('is-invalid')) {
                    $(this).removeClass('is-invalid');
                }
            });

            $('#DataHoraInicial').on('change', function () {
                if ($(this).hasClass('is-invalid')) {
                    $(this).removeClass('is-invalid');
                }
            });

            $('#HoraInicial').on('change', function () {
                if ($(this).hasClass('is-invalid')) {
                    $(this).removeClass('is-invalid');
                }
            });
        });
    </script>
}