@model ConfirmarAgendamentoViewModel
@{
    ViewData["Title"] = "Confirmação de Agendamento";
}
<div class="wrapper">
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
            <li class="nav-item d-none d-sm-inline-block">
                <a class="nav-link" style="font-weight:700;color:#6c757d!important">SISAT - Sistema de Atendimento</a>
            </li>
        </ul>
    </nav>
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a class="brand-link">
            <div class="text-center d-flex justify-content-center">
                <img src="/Imagens/logoW2e2.png" alt="W2E Soluções Logo" class="brand-image" style="width:90px">
            </div>
        </a>
        <div class="sidebar">
            <div class="form-inline mt-2">
                <div class="input-group" data-widget="sidebar-search">
                    <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-sidebar">
                            <i class="fas fa-search fa-fw"></i>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item @(ViewBag.MenuAtivo == "Inicio" ? "menu-open" : "")">
                        <a asp-controller="AgendamentoHorarios" asp-action="Index" class="nav-link @(ViewBag.MenuAtivo == "Inicio" ? "active" : "")">
                            <i class="nav-icon fas fa-home"></i>
                            <p>
                                Início
                            </p>
                        </a>
                    </li>
                    <li class="nav-item @(ViewBag.MenuAtivo == "Horario" ? "menu-open" : "")">
                        <a href="#" class="nav-link @(ViewBag.MenuAtivo == "Horario" ? "active" : "")">
                            <i class="nav-icon fas fa-pencil-alt"></i>
                            <p>
                                Horários
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item @(ViewBag.ActivePage == "CadastroHorario" ? "active"  : "")">
                                <a asp-action="CadastroDeHorarios" asp-controller="AgendamentoHorarios" class="nav-link @(ViewBag.ActivePage == "CadastroHorario" ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Cadastro de Horários</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item @(ViewBag.MenuAtivo == "Confirmar" ? "menu-open" : "")">
                        <a asp-controller="AgendamentoHorarios" asp-action="ConfirmarAgendamento" class="nav-link @(ViewBag.MenuAtivo == "Confirmar" ? "active" : "")">
                            <i class="nav-icon fa fa-check"></i>
                            <p>
                                Confirmar Agendamento
                            </p>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>@ViewData["Title"]</h1>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title"><i class="fas fa-filter"></i> Filtro de pesquisa</h3>
                            </div>
                            <form asp-action="ConfirmarAgendamento" asp-controller="AgendamentoHorarios" method="post">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Protocolo:</label>
                                        <input class="form-control @(ViewData.ModelState["Protocolo"]?.Errors.Count() > 0 ? "is-invalid" : "")" type="text" id="Protocolo" asp-for="Protocolo" placeholder="Digite o Protocolo do agendamento." />
                                        @Html.ValidationMessageFor(x => x.Protocolo, "", new { @class = "invalid-feedback" })
                                    </div>
                                    <div class="form-group">
                                        <label>CPF:</label>
                                        <input class="form-control @(ViewData.ModelState["Protocolo"]?.Errors.Count() > 0 ? "is-invalid" : "")" type="text" id="CPF" asp-for="CPF" placeholder="Digite o CPF." />
                                        @Html.ValidationMessageFor(x => x.Protocolo, "", new { @class = "invalid-feedback" })
                                    </div>
                                </div>
                                <div class="card-footer d-flex justify-content-end">
                                    <a id="limpar" class="btn btn-default" role="button"><i class="fa fa-times"></i> Limpar</a>
                                    <button type="submit" class="btn btn-primary mx-2" role="button"><i class="fas fa-search"></i> Buscar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @if (Model?.PesquisaRealizada == true && Model?.Agendamentos != null && Model.Agendamentos.Any())
        {
            <section class="content" id="resultadosPesquisa">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title"><i class="fa fa-list"></i> Resultado da pesquisa</h3>
                                </div>
                                <div class="card-body">
                                    <table id="tablePesquisa" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>CPF</th>
                                                <th>E-mail</th>
                                                <th>Data do Agendamento</th>
                                                <th>Horário</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Agendamentos.Any())
                                            {
                                                @foreach (var item in Model.Agendamentos)
                                                {
                                                    <tr>
                                                        <td>@item.Nome</td>
                                                        <td>@item.CpfCnpj</td>
                                                        <td>@item.Email</td>
                                                        <td>@item.DataMarcada.ToString("dd/MM/yyyy")</td>
                                                        <td>@item.Hora</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="1" class="text-center">Nenhum resultado encontrado.</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>

    <footer class="main-footer">
        <strong>&copy; @DateTime.Now.Year - W2E Soluções</strong>
    </footer>
</div>

@section Scripts {
    @{
        var toastrMessage = TempData["Error"] as string;
        var toastrMessageSuccess = TempData["ToastrMessageSuccess"] as string;
    }

    @if (!string.IsNullOrEmpty(toastrMessage))
    {
        <script>
            toastr.error('@toastrMessage', 'Erro', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(toastrMessageSuccess))
    {
        <script>
            toastr.success('@toastrMessageSuccess', 'Sucesso.', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    <script>
        $(document).ready( function() {
            $('#Protocolo').on('change', function () {
                if ($(this).hasClass('is-invalid')) {
                    $(this).removeClass('is-invalid');
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#limpar').on('click', function (e) {
                e.preventDefault();
                $('#Protocolo').val('');
                $('#CPF').val('');
                
                $('#Protocolo').removeClass('is-invalid');
                $('#CPF').removeClass('is-invalid');

                $('#Protocolo').next('.invalid-feedback').html('');
                $('#CPF').next('.invalid-feedback').html('');

                $('#resultadosPesquisa').hide();
            });
        });
    </script>


    <script>
        $(document).ready(function () {
            $('#tablePesquisa').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar em PDF',
                        orientation: 'portrait',
                        pageSize: 'A4',
                        customize: function (doc) {
                            doc.pageMargins = [10, 20, 20, 20];

                            doc.styles.title = {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center',
                                margin: [0, 20, 0, 20]
                            };

                            doc.styles.tableHeader = {
                                fontSize: 10,
                                bold: true,
                                fillColor: '#f0f0f0',
                                alignment: 'left'
                            };

                            doc.styles.tableBodyOdd = {
                                fontSize: 10,
                                fillColor: '#ffffff',
                                alignment: 'left'
                            };

                            doc.styles.tableBodyEven = {
                                fontSize: 10,
                                fillColor: '#f9f9f9',
                                alignment: 'left'
                            };

                            var table = doc.content[1].table;
                            table.widths = ['*', '*', '*', '*', '*'];

                            table.body.forEach(function(row, rowIndex) {
                                row.forEach(function(cell, colIndex) {
                                    cell.border = [true, true, true, true];
                                    if (typeof cell.text === 'string') {
                                        console.log(cell.text);
                                        cell.text = cell.text.replace(/,\s*\/?/g, '\n');
                                    }
                                });
                            });
                        },
                        exportOptions: {
                            columns: ':visible'
                        }
                    }, 'copy', 'csv', 'excel', 'print'
                ],
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
                },
                order: [[3, 'asc']],
            }).buttons().container().appendTo('#tablePesquisa_wrapper .col-md-6:eq(0)');
        });
    </script>
}