@using SisAt.Models.ViewModel
@model ConfirmarAgendamentoViewModel
@{
    ViewData["Title"] = "Confirmação de Agendamento";
}
<link rel="stylesheet" type="text/css" href="~/css/print.css" media="print" asp-append-version="true" />

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-filter"></i> Filtro de pesquisa</h3>
            </div>
            <form asp-action="ConfirmarAgendamento" asp-controller="AgendamentoHorarios" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>Protocolo:</label>
                        <input class="form-control @(ViewData.ModelState["Protocolo"]?.Errors.Count() > 0 ? "is-invalid" : "")" type="text" id="Protocolo" asp-for="Protocolo" placeholder="Digite o Protocolo do agendamento." />
                        @Html.ValidationMessageFor(x => x.Protocolo, "", new { @class = "invalid-feedback" })
                    </div>
                    <div class="form-group">
                        <label>CPF:</label>
                        <input class="form-control @(ViewData.ModelState["Protocolo"]?.Errors.Count() > 0 ? "is-invalid" : "")" maxlength="11" type="text" id="CPF" asp-for="CPF" placeholder="Digite o CPF." />
                        @Html.ValidationMessageFor(x => x.Protocolo, "", new { @class = "invalid-feedback" })
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end">
                    <a id="limpar" class="btn btn-default" role="button"><i class="fa fa-times"></i> Limpar</a>
                    <button type="submit" class="btn btn-dark mx-2" role="button"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@if (Model?.PesquisaRealizada == true && Model?.Agendamentos != null && Model.Agendamentos.Any())
{
    <div class="row" id="resultadosPesquisa">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-list"></i> Resultado da pesquisa</h3>
                </div>
                <div class="card-body">
                    <table id="tablePesquisa" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>CPF</th>
                                <th>E-mail</th>
                                <th>Tipo de Serviço</th>
                                <th>Data do Agendamento</th>
                                <th>Horário</th>
                                <th class="text-center">Selecionar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Agendamentos.Any())
                            {
                                @foreach (var item in Model.Agendamentos)
                                {
                                    <tr>
                                        <td>@item.Nome</td>
                                        <td>@item.CpfCnpj</td>
                                        <td>@item.Email</td>
                                        <td>@item.ServicoNome</td>
                                        <td>@item.DataMarcada.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Hora</td>
                                        <td class="text-center"><a class="btn btn-success mx-2" role="button" asp-route-agendamentoId="@item.Id" asp-action="ConfirmarAgendamentoById" asp-controller="AgendamentoHorarios"><i class="nav-icon fa fa-check"></i> Confirmar</a></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="1" class="text-center">Nenhum resultado encontrado.</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

@if (Model?.SenhaViewlModel != null)
{
    <div class="modal fade" id="modal-primary">
        <div class="modal-dialog">
            <div class="modal-content bg-default">
                <div class="modal-header bg-dark">
                    <h4 class="modal-title">Senha gerada com sucesso</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center" id="conteudo-impressao">
                    <div class="form-group">
                        <label id="senha">SENHA: @Model.SenhaViewlModel.Numero</label>
                    </div>
                    <div class="form-group">
                        <label id="cidadao">CIDADÃO: @Model.SenhaViewlModel.Cidadao</label>
                    </div>
                    <div class="form-group">
                        <label id="servico">SERVIÇO: @Model.SenhaViewlModel.Id_servico</label>
                    </div>
                    <div class="form-group">
                        <label id="retirada">RETIRADA: @Model.SenhaViewlModel.Horario</label>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
                    <button type="button" class="btn btn-dark" id="imprimir"><i class="fa fa-print"></i> Imprimir</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @{
        var toastrMessage = TempData["Error"] as string;
        var toastrInfo = TempData["Info"] as string;
        var toastrMessageSuccess = TempData["ToastrMessageSuccess"] as string;
        var senha = TempData["Senha"] as string;
    }

    @if (!string.IsNullOrEmpty(toastrMessage))
    {
        <script>
            toastr.error('@toastrMessage', 'Erro.', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(toastrInfo))
    {
        <script>
            toastr.info('@toastrInfo', 'Informação', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    @if (!string.IsNullOrEmpty(toastrMessageSuccess))
    {
        <script>
            toastr.success('@toastrMessageSuccess', 'Sucesso.', {
                closeButton: true,
                progressBar: true
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $('#limpar').on('click', function (e) {
                e.preventDefault();
                $('#Protocolo').val('');
                $('#CPF').val('');

                $('#Protocolo').removeClass('is-invalid');
                $('#CPF').removeClass('is-invalid');

                $('#Protocolo').next('.invalid-feedback').html('');
                $('#CPF').next('.invalid-feedback').html('');

                $('#resultadosPesquisa').hide();
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#tablePesquisa').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        text: 'Exportar em PDF',
                        orientation: 'portrait',
                        pageSize: 'A4',
                        customize: function (doc) {
                            doc.pageMargins = [10, 20, 20, 20];

                            doc.styles.title = {
                                fontSize: 18,
                                bold: true,
                                alignment: 'center',
                                margin: [0, 20, 0, 20]
                            };

                            doc.styles.tableHeader = {
                                fontSize: 10,
                                bold: true,
                                fillColor: '#f0f0f0',
                                alignment: 'left'
                            };

                            doc.styles.tableBodyOdd = {
                                fontSize: 10,
                                fillColor: '#ffffff',
                                alignment: 'left'
                            };

                            doc.styles.tableBodyEven = {
                                fontSize: 10,
                                fillColor: '#f9f9f9',
                                alignment: 'left'
                            };

                            var table = doc.content[1].table;
                            table.widths = ['*', 'auto', 'auto', 'auto', 'auto', 'auto'];
                        },
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }, 'copy', 'csv', 'excel'
                ],
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json'
                },
                order: [[5, 'asc']],
            }).buttons().container().appendTo('#tablePesquisa_wrapper .col-md-6:eq(0)');
        });
    </script>

    @if (Model?.SenhaViewlModel != null)
    {
        <script>
            $(document).ready(function() {
                $('#modal-primary').modal('show');
            });
        </script>
    }

    <script>
        $(document).ready(function () {
            $("#imprimir").on("click", function () {
                var conteudo = `
                    <div style="text-align: center; font-family: Arial, sans-serif; width: 80mm;">
                        <div style='padding: 5px;'>
                            <div class="form-group" style="padding: 4px;">
                                <label id="senha"><strong style="font-size: 36px;">${$("#senha").text()}</strong> </label>
                            </div>
                            <div class="form-group" style="padding: 4px;">
                                <label id="retirada"><strong>${$("#retirada").text()}</strong> </label>
                            </div>
                            <div class="form-group" style="padding: 4px;">
                                <label id="cidadao"><strong>${$("#cidadao").text()}</strong> </label>
                            </div>
                        </div>
                    </div>
                `;

                var janela = window.open("", "", "width=600,height=600");
                janela.document.write(conteudo);
                janela.document.close();

                setTimeout(function () {
                    janela.print();
                    janela.close();
                }, 500);
            });
        });
    </script>
}